<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
           					http://www.springframework.org/schema/beans/spring-beans.xsd
           					http://www.springframework.org/schema/context
         					http://www.springframework.org/schema/context/spring-context.xsd"
           					default-autowire="byName">
	
	<!-- Enable annotation configuration -->
	<context:component-scan base-package="com.fryc.*" />
	
	<bean id="jdbcTemplate" 
		class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource">
			<ref bean="dataSource"/>
		</constructor-arg>
	</bean>
	
	<bean id="namedParameterJdbcTemplate" 
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg name="dataSource">
			<ref bean="dataSource"/>
		</constructor-arg>
	</bean>
	
	</beans>